@model List<PizzaShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}
@section cartJS{
    <script src="/Content/common/CartJS.js"></script>
}

<div class="banner">
</div>


@*modal thanh toan*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thanh toán</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="display: grid; grid-template-columns: 25% auto; margin-bottom:  10px;">
                    <label>Tổng số món</label>
                    <p>xxx</p>
                </div>
                <div style="display: grid; grid-template-columns: 25% auto; margin-bottom:  10px;">
                    <label>Tổng tiền</label>
                    <p>xxx VNĐ</p>
                </div>
                <div style="display: grid; grid-template-columns: 25% auto;  margin-bottom:  10px; ">
                    <label>Họ tên</label>
                    <input type="text" placeholder="Nhập họ tên" style="border-radius: 5px; padding-left: 10px;" />
                </div>
                <div style="display: grid; grid-template-columns: 25% auto;  margin-bottom:  10px;">
                    <label>Số điện thoại</label>
                    <input type="text" placeholder="Nhập số điện thoại" style="border-radius: 5px; padding-left: 10px;" />
                </div>
                <div style="display: grid; grid-template-columns: 25% auto; margin-bottom:  10px;">
                    <label>Địa chỉ</label>
                    <input type="text" placeholder="Nhập địa chỉ" style="border-radius: 5px; padding-left: 10px;" />
                </div>
                <div style="display: grid; grid-template-columns: 25% auto;">
                    <label>Ghi chú</label>
                    <input type="text" placeholder="Yêu cầu của bạn" style="border-radius: 5px; padding-left: 10px;" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Đặt hàng</button>
            </div>
        </div>
    </div>
</div>


<!-- cart shop -->
<div class="container">
    <div class="row">
        <section class="section cart-shop">
            <div class="table-responsive" style="overflow-x:auto;">
                @if (Model.Count > 0)
                {
                    <table class="table product-table">
                        <thead>
                            <tr>
                                <th style="width: 20%;"></th>
                                <th style="width: 35%;">Sản Phẩm</th>
                                <th style="width: 10%;">Giá</th>
                                <th style="width: 15%;">Số Lượng</th>
                                <th style="width: 15%;">Tổng Cộng</th>
                                <th style="width: 5%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>
                                        <img src="~/Content/images/menu/@item.MonAn.AnhMon"
                                             alt="" />
                                    </th>
                                    <th>
                                        <h5>
                                            <strong>@item.MonAn.TenMon</strong>
                                        </h5>
                                    </th>
                                    <td>@item.MonAn.Gia.GetValueOrDefault(0).ToString("N0") VNĐ</td>
                                    <td class="center-on-small-only" style="flex-direction: row;">
                                        <input type="number"
                                               style="padding-left: 10px; width: 50px; border-radius: 5px;"
                                               class="inputSoLuong"
                                               min="1"
                                               data-id="@item.MonAn.MaMon"
                                               value="@item.SoLuong" />
                                        <button class="btn btn-primary" id="btn-edit" style="padding: 5px 10px; margin-left: 5px;">
                                            <img src="~/Content/images/ImgIcon/edit.png" style="width: 15px; display:flex;" />
                                        </button>
                                    </td>
                                    <td>@((item.MonAn.Gia.GetValueOrDefault(0) * item.SoLuong).ToString("N0")) VND</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-sm btn-primary waves-effect waves-light btn-delete-product"
                                                data-id="@item.MonAn.MaMon"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title=""
                                                data-original-title="Remove item">
                                            X
                                        </button>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colSpan="3"></td>
                                <td></td>
                                <td colSpan="3">
                                    <a class="plr-5"
                                       data-toggle="modal"
                                       data-target="#exampleModal"
                                       style="border: 1px solid gray; border-radius: 5px; background-color: #1245ff;">
                                        <p style="color: white; padding: 5px;">Thêm ngay</p>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <span style="font-size: 20px; width: 100%; text-align: center;">Chưa có sản phẩm nào trong giỏ hàng</span>
                }
            </div>
        </section>
    </div>
</div>


